
<div class="login-background">
  <div class="login-container">
    <h2 class="login-title">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New password", class: "form-label" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", value: params.dig(:user, :password) %>
        <div class="mt-2 fs-small text-danger">
          <%= f.object.errors.full_messages_for(:password).first if f.object.errors[:password].any? %>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", value: params.dig(:user, :password_confirmation) %>
        <div class="mt-2 fs-small text-danger">
          <%= f.object.errors.full_messages_for(:password_confirmation).first if f.object.errors[:password_confirmation].any? %>
        </div>
      </div>

      <div class="actions d-grid gap-2">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="login-button mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div> 
