<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-nav nav-item">
      <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
      <%= link_to "Post", posts_path, class: "nav-link #{'active' if request.path.start_with?('/posts')}" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <%= content_tag :span, current_user[:name], class: "nav-link active" if user_signed_in? %>
        </li>
        <li class="nav-item">
          <% unless user_signed_in? %>
            <div class="nav-link-group">
              <i class="fa-solid fa-right-to-bracket p-0 nav-link nav-link-icon position-absolute"></i>
              <%= link_to "Login", new_user_session_path, class: "nav-link position-relative" %>
            </div>
          <% else %>
            <div class="nav-link-group">
              <i class="fa-solid fa-right-from-bracket p-0 nav-link nav-link-icon position-absolute"></i>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "nav-link position-relative" %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>